body{
    margin: 0rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    margin: 0rem;
    padding: 0rem;
    list-style: none;
}

a {
    text-decoration: none;
}

.header-bg{
    background-color: #000000;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1.25rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.header-menu a{
    color: #ffffff;
    display: inline-block;
    padding: 1rem 0rem;
    font-size: 1.125rem;
    position: relative;
}

.header-menu a::after{
    content: '';
    display: block;
    height: 0.125rem;
    width: 0rem;
    background: #ffffff;
    margin-top: 0.25rem;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover:after{
    width: 100%;
}





@media(max-width: 50rem){
    .header-menu{
        gap: 1.25rem;
    }
    .header-menu a{
        background: #111111;
        padding: 0.75rem 1rem;
        border-radius: 0.25rem;
    }
    .header-menu a:hover{
        background-color: #2e2e2e;
    }
    .header a::after{
        display: none;
    }
}

@media(max-width: 37.5rem){
    .header-menu{
        gap: 0.75rem;
    }
    .header-menu a{
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
    }
}